.chat-main
  .chat-main__group-info
    .test-text
      test
      .member-name
        Member : masa
    %button{type: "button", class:'edit-btn', onclick: "location.href='#'"}
      .btn
        Edit
  .chat-main__message-list
    .chat-user
      masa
    .time
      2020/05/20(Wed) 14:45:02
    .chat-message
      おはよう！
  .chat-main__message-form
    %form.new_message
      .input-box
        %input{type: "text", class: "input-box__text", placeholder: "type a message"}
        %label{class: "input-box__image"}
          .far.fa-image
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btn", value: "Send"}