.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        masa
      = link_to "#", class: "top-items__icons" do
        .far.fa-edit
        %span<>
        .fas.fa-cog
  .side-bar__group-list
    techcamp
  .side-bar__group-list.new
    まだメッセージがありません