* {
  box-sizing: border-box;
}

.side-bar {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  display: inline-block;
  &__user-name{
    background-color: #253141;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  .top-items{
    height: 20px;
    width: 260px;
    display: flex;
    position: relative;
    justify-content: space-between;
    line-height: 20px;
      &__name{
        font-size: 16px;
        font-weight: bold;
        color: $font-color;
      }
      &__icons{
        .icon{
          color: $font-color;
          font-weight: bold;
          font-size: 16px;
          margin-left: 5px;
        }
        a{
          text-decoration: none;
        }
      }
  }
  }
  &__group-list{
    padding-left: 20px;
    padding-right: 20px;
    .group{
      &__name{
        color: $font-color;
        font-size: 15px;
        padding-top: 20px;
      }
      &__message{
        color: $font-color;
        font-size: 11px;
        padding-bottom: 40px;
        padding-top: 5px;
      }
      a{
        text-decoration: none;
      }
    }
  }
}



.chat-main {
  background-color: #fafafa;
  width: calc(100vw - 300px);
  height: 100vh;
  float: right;
  &__group-info{
    background-color: $font-color;
    height: 100px;
    margin-top: 0;
    border-bottom: solid 1px #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    .test-text{
      color: #333333;
      margin-top: 35px;
      font-size: 20px;
      .member-name{
        color: #999999;
        font-size: 12px;
        padding-top: 15px;
        display: flex;
        ul{
          li{
            float: left;
            margin-left: 5px;
          }
        }
      }
    }
    .edit-btn{
      margin-top: 28px;
      height: 40px;
      width: 72px;
      border-color: $btn-color;
      padding: 0 20px;
      text-align: center;
      .btn{
        color: $btn-color;
        font-size: 16px;
      }
    }
  }

  &__message-list{
    height: calc(100vh - 100px - 90px);
    padding: 35px 0px 0px 40px;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      .upper-message{
        display: flex;
        margin-bottom: 10px;
        &__user-name{
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      .lower-message{
        color: #434A54;
        font-size: 14px;
        margin-bottom: 10px;
        &__content{
          display: block;
        }
        &__image{
          
        }
      }
    }
  }

  &__message-form{
    background-color: #d2d2d2;
    height: 90px;
    margin-bottom: 0;
    display: flex;
    padding: 20px 40px;
    form{
        position: relative;
        width: 100%;
        display: flex;
      .text{
        height: 50px;
        width: 100%;
        padding: 0 10px;
      }
      .form_box{
        &__image{
          width: 100%;
          position: relative;
          .icon{
            position: absolute;
            top: 13px;
            right: 10px;
            font-size: 22px;
          }
          .file{
            display: none;
          }
        }
      }
      .submit-btn{
        background-color: $btn-color;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        color: $font-color;
        margin-left: 15px;
      }
    }
  }
}